{% extends 'base.html' %}
{% load static %}

{% block content %}
  <link rel="stylesheet" href="{% static 'problems_styling.css' %}">
  <center>
    {% if user.is_superuser %}
      <a class="btn btn-success" href="/admin/problems/problem/{{ problem.id }}/change/">Edit</a>
      <br><br>
    {% endif %}
    <div class="card">
      <div class="card-body">
        <pre></pre>
        <h2>{{ problem.title }}</h2>
      </div>
    </div>
  </center>
  <br>
  <div class="card">
    <div class="card-body">{{ problem.description|safe }}</div>
    <hr/>
    <br>
    <form action="{% url 'send' problem.id %}" method="POST" class="card-body">
      {% csrf_token %}
      <center>
        <textarea id="code-editor" name="code" style="display: none;"></textarea>
        <input type="Submit" value="Submit" class="btn btn-success" id="submit-btn">
        <button class="btn btn-primary" type="button" disabled style="display: none;" id="loading-btn">
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Testing...
        </button>
      </center>
    </form>
    <div class="container">
      <div id="editor">{{ problem.template }}</div>
      <br>
    </div>
  </div>
  <br><br>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.23.4/ace.js" integrity="sha512-W2EhLZb9bxEATRhug+NU1OHCaM0hovRJbR7BvUNEytEWYJKxZiL4fGz3tiPpid0nycdwW7EnGlSonxvrs+EU6g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="{% static 'script.js' %}"></script>
{% endblock %}
